<div id="<%= dom_id contact %> "class= "account-info-container">
  <p>
    <strong>First Name:</strong>
    <%= contact.first_name %>
  </p>

  <p>
    <strong>Last Name:</strong>
    <%= contact.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= contact.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= contact.phone %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= contact.account.name %>
  </p>

</div>
